JWT_SECRET=change-me-with-at-least-32-characters
JWT_EXPIRATION_MINUTES=120

APP_DEFAULT_ORGANIZER_USERNAME=organizer
APP_DEFAULT_ORGANIZER_PASSWORD=Organizer123!
APP_DEFAULT_PRACTITIONER_USERNAME=practitioner
APP_DEFAULT_PRACTITIONER_PASSWORD=Practitioner123!

AUTH_MONGODB_URI=
NOTE_MONGODB_URI=
PATIENT_DB_URL=
PATIENT_DB_USERNAME=
PATIENT_DB_PASSWORD=


AUTH_SERVICE_URL=
PATIENT_SERVICE_URL=
NOTE_SERVICE_URL=
ASSESSMENT_SERVICE_URL=

PATIENT_SERVICE_BASE_URL=
NOTE_SERVICE_BASE_URL=